<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru" th:charset="utf-8">
<head>
    <th:block th:include="fragments/main :: head('Кабинет Судьи')"></th:block>

    <link rel="stylesheet" th:href="@{/css/block.css}">
    <link rel="stylesheet" th:href="@{/css/table.css}">

    <th:block th:include="fragments/popup :: head"></th:block>
    <th:block th:include="fragments/form :: head"></th:block>
    <th:block th:include="fragments/menu :: head"></th:block>
</head>

<div th:replace="fragments/table :: table-sort"></div>

<body>

<div th:replace="fragments/main :: background"></div>

<div th:replace="fragments/popup :: popup"></div>

<div th:replace="fragments/popup :: emergencyPopup"></div>

<div th:replace="fragments/entity/judge
    :: judgeHeader(breadCrumbNames=${ { 'Участники', 'Участник' } },
                   breadCrumbLinks=${ { '/judge/students', '|/judge/students/student/${student.id}|' } })"></div>

<div th:replace="fragments/entity/judge :: judgeMenu"></div>

<!-- Контент -->
<div class="container">
    <!-- Первый блок -->
    <div class="block">
        <div class="block-title">Участник</div>

        <div class="form-container">
            <div class="form-header">
                <h1>Информация об Участнике</h1>
            </div>

            <!--/*@thymesVar id="webUser" type="trik.testsys.webclient.view.impl.StudentView"*/-->
            <form id="student-info" action="#" th:action="@{/student/update}" th:object="${student}" method="post">
                <div th:replace="fragments/form.html :: hiddentInput(id='student.id', fieldName='id')"></div>
                <div th:replace="fragments/form.html :: hiddentInput(id='student.group', fieldName='group')"></div>

                <div th:replace="fragments/form.html
                :: formField(id='student.name', type='text',
                             labelName='Псевдоним', labelSize='20',
                             fieldName='name', fieldSize='80',
                             size='50',
                             isReadonly='false', isRequired='true', isAccessToken='false')">
                </div>
                <div th:replace="fragments/form.html
                :: formField(id='student.accessToken', type='text',
                             labelName='Код-доступа', labelSize='20',
                             fieldName='accessToken', fieldSize='80',
                             size='50',
                             isReadonly='true', isRequired='false', isAccessToken='true')">
                </div>
                <div th:replace="fragments/form.html
                :: formField(id='student.lastLoginDate', type='text',
                             labelName='Дата и время входа', labelSize='40',
                             fieldName='lastLoginDate', fieldSize='60',
                             size='25',
                             isReadonly='true', isRequired='false', isAccessToken='false')">
                </div>
                <div th:replace="fragments/form.html
                :: formField(id='student.creationDate', type='text',
                             labelName='Дата и время регистрации', labelSize='40',
                             fieldName='creationDate', fieldSize='60',
                             size='25',
                             isReadonly='true', isRequired='false', isAccessToken='false')">
                </div>
                <div th:replace="fragments/form.html
                :: formField(id='student.group.name', type='text',
                             labelName='Группа', labelSize='20',
                             fieldName='group.name', fieldSize='80',
                             size='50',
                             isReadonly='true', isRequired='false', isAccessToken='false')">
                </div>
                <div th:replace="fragments/form.html
                :: formField(id='student.additionalInfo', type='text',
                             labelName='Дополнительная информация', labelSize='20',
                             fieldName='additionalInfo', fieldSize='80',
                             size='100',
                             isReadonly='false', isRequired='false', isAccessToken='false')">
                </div>
            </form>
        </div>
    </div>

    <div class="block">
        <div class="block-title">Посылки</div>

        <div class="form-container">
            <div class="form-header">
                <h1>Фильтр</h1>
            </div>

            <!--/*@thymesVar id="webUser" type="trik.testsys.webclient.view.impl.StudentSolutionFilter"*/-->
            <form id="judge-info" action="#" th:action="@{/judge/students/student/{studentId}(studentId=${student.id})}" th:object="${studentFilter}" method="get">
                <div th:replace="fragments/form.html
                    :: formField(id='studentFilter.taskId', type='number',
                                 labelName='ID Задания', labelSize='25',
                                 fieldName='taskId', fieldSize='75',
                                 size='50',
                                 isReadonly='false', isRequired='false', isAccessToken='false')">
                </div>
                <div th:replace="fragments/form.html
                    :: formField(id='studentFilter.solutionId', type='number',
                                 labelName='ID Посылки', labelSize='20',
                                 fieldName='solutionId', fieldSize='80',
                                 size='50',
                                 isReadonly='false', isRequired='false', isAccessToken='false')">
                </div>
                <!-- Кнопки редактирования, отправки и отмены -->
                <div class="form-buttons">
                    <button type="button" class="edit-button" id="judge-info-edit" onclick="enableForm('judge-info')">Задать фильтр</button>
                    <button type="submit" class="save-button" id="judge-info-save">Применить</button>
                    <button type="button" class="cancel-button" id="judge-info-cancel" onclick="disableForm('judge-info')">Отменить</button>
                </div>
            </form>
        </div>

        <div class="table contests-table">
            <div class="form-header">
                <h1>Список Посылок</h1>
            </div>
            <div class="table-container">
                <table>
                    <thead>
                    <tr>
                        <th style="width: 7%">
                            ID
                        </th>
                        <th style="width: 15%">
                            Задание
                        </th>
                        <th style="width: 12%">
                            Дата и время отправки
                        </th>
                        <th style="width: 10%">
                            Статус
                        </th>
                        <th style="width: 7%">
                            Результат
                        </th>
                        <th>Дополнительная информация</th>
                        <th style="width: 15%"></th>
                    </tr>
                    </thead>
                    <!--/*@thymesVar id="group" type="trik.testsys.webclient.view.impl.TaskTestResultView"*/-->
                    <tr th:each="solution : ${solutions}">
                        <td th:text="${solution.id}"></td>
                        <td th:text="${solution.taskName}"></td>
                        <td th:text="${solution.creationDate}"></td>
                        <td th:switch="${solution.status}">
                            <span th:case="${solution.status.PASSED}">Успешно</span>
                            <span th:case="${solution.status.FAILED}">Неуспешно</span>
                            <span th:case="${solution.status.ERROR}">Ошибка</span>
                            <span th:case="${solution.status.IN_PROGRESS}">Тестируется</span>
                            <span th:case="${solution.status.NOT_STARTED}">Ожидает тестирования</span>
                        </td>
                        <td th:text="${solution.score}"></td>
                        <td th:text="${solution.additionalInfo}"></td>
                        <td class="buttons">
                            <a class="button" th:href="@{'/judge/students/student/downloadSolution/' + ${student.id} + '?solutionId=' + ${solution.id}}" target="_self"
                               title="Скачать файл с решением">
                                <i class="fa-solid fa-file-download"></i>
                            </a>
                            <form th:action="@{'/judge/students/student/rerunSolution/' + ${student.id} + '?solutionId=' + ${solution.id}}" method="post">
                                <button type="submit" title="Перезапустить посылку"
                                        class="button">
                                    <i class="fa-solid fa-rotate"></i>
                                </button>
                            </form>
                            <a class="button" th:href="@{'/judge/students/student/downloadResults/' + ${student.id} + '?solutionId=' + ${solution.id}}" target="_self"
                               title="Скачать результаты проверки">
                                <i class="fa-solid fa-file-zipper"></i>
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div class="block">
        <div class="block-title">Вердикты</div>

        <div class="form-container">
            <div class="form-header">
                <h1>Фильтр</h1>
            </div>

            <!--/*@thymesVar id="webUser" type="trik.testsys.webclient.view.impl.SolutionVerdictCreationView"*/-->
            <form id="judge1-info" action="#" th:action="@{/judge/students/student/addVerdict/{studentId}(studentId=${student.id})}" method="post">
                <div class="form-field" style="flex-basis: 50%">
                    <div class="form-label" style="flex-basis: 20%">
                        <label for="task">Выберите Задание</label>
                    </div>
                    <div class="form-field" style="flex-basis: 80%">
                        <select id="task" name="taskId" required>
                            <option value="" disabled selected>Выберите Задание</option>
                            <option th:each="task : ${tasks}" th:value="${task.id}" th:text="${task.id} + ': ' + ${task.name}"></option>
                        </select>
                    </div>
                </div>
                <div class="form-field" style="flex-basis: 50%">
                    <div class="form-label" style="flex-basis: 20%">
                        <label for="student.accessToken">Результат</label>
                    </div>
                    <div class="form-input" style="flex-basis: 80%">
                        <input name="score" type="number" id="student.accessToken" readonly required/>
                    </div>
                </div>
                <div class="form-field" style="flex-basis: 100%">
                    <div class="form-label" style="flex-basis: 20%">
                        <label for="student.additionalInfo">Дополнительная информация</label>
                    </div>
                    <div class="form-input" style="flex-basis: 80%">
                        <input name="additionalInfo" type="text" id="student.additionalInfo" readonly/>
                    </div>
                </div>
                <!-- Кнопки редактирования, отправки и отмены -->
                <div class="form-buttons">
                    <button type="button" class="edit-button" id="judge1-info-edit" onclick="enableForm('judge1-info')">Создать Вердикт</button>
                    <button type="submit" class="save-button" id="judge1-info-save">Создать</button>
                    <button type="button" class="cancel-button" id="judge1-info-cancel" onclick="disableForm('judge1-info')">Отменить</button>
                </div>
            </form>
        </div>

        <div class="table contests-table">
            <div class="form-header">
                <h1>Список Вердиктов</h1>
            </div>
            <div class="table-container">
                <table>
                    <thead>
                    <tr>
                        <th style="width: 7%">
                            ID
                        </th>
                        <th style="width: 12%">
                            Дата и время создания
                        </th>
                        <th style="width: 15%">
                            Задание
                        </th>
                        <th style="width: 7%">
                            Результат
                        </th>
                        <th>Дополнительная информация</th>
                        <th style="width: 7%"></th>
                    </tr>
                    </thead>

                    <!--/*@thymesVar id="group" type="trik.testsys.webclient.view.impl.SolutionVerdictView"*/-->
                    <tr th:each="verdict : ${verdicts}">
                        <td th:text="${verdict.id}"></td>
                        <td th:text="${verdict.formattedCreationDate}"></td>
                        <td th:text="${verdict.taskFullName}"></td>
                        <td th:text="${verdict.score}"></td>
                        <td th:text="${verdict.additionalInfo}"></td>
                        <td class="buttons">
                            <form th:action="@{'/judge/students/student/deleteVerdict/' + ${student.id} + '?verdictId=' + ${verdict.id}}" method="post">
                                <button type="submit" title="Удалить"
                                        class="button">
                                    <i class="fa-solid fa-trash-can"></i>
                                </button>
                            </form>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

</body>
</html>