<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru" th:charset="utf-8">
<head>
    <meta http-equiv="refresh" content="60">
    <th:block th:include="fragments/main :: head('Кабинет Участника')"></th:block>

    <link rel="stylesheet" th:href="@{/css/block.css}"/>
    <link rel="stylesheet" th:href="@{/css/table.css}">

    <th:block th:include="fragments/popup :: head"></th:block>
    <th:block th:include="fragments/form :: head"></th:block>
    <th:block th:include="fragments/menu :: head"></th:block>
</head>

<div th:replace="fragments/table :: table-sort"></div>

<body>

<div th:replace="fragments/main :: background"></div>

<div th:replace="fragments/popup :: popup"></div>

<div th:replace="fragments/popup :: emergencyPopup"></div>

<div th:replace="fragments/entity/student :: studentHeader(breadCrumbNames=${ { 'Туры', 'Тур' } },
                                                           breadCrumbLinks=${ { '/student/contests', '|/student/contests/contest/${contest.id}|' } })"></div>

<div th:replace="fragments/entity/student :: studentMenu"></div>

<!-- Контент -->
<div class="container">
    <!-- Первый блок -->
    <div class="block">
        <div class="block-title">Тур</div>

        <div class="form-container">
            <div class="form-header">
                <h1>Информация о Туре</h1>
            </div>

            <!--/*@thymesVar id="webUser" type="trik.testsys.webclient.view.impl.StudentContestView"*/-->
            <form id="contest-info" action="#" th:object="${contest}">
                <div th:replace="fragments/form.html
                    :: formField(id='group.name', type='text',
                                 labelName='Название', labelSize='20',
                                 fieldName='name', fieldSize='80',
                                 size='50',
                                 isReadonly='true', isRequired='true', isAccessToken='false')">
                </div>
                <div th:replace="fragments/form.html
                    :: formField(id='contest.lastTime', type='text',
                                 labelName='Оставшееся время', labelSize='20',
                                 fieldName='lastTime', fieldSize='80',
                                 size='50',
                                 isReadonly='true', isRequired='false', isAccessToken='false')">
                </div>
                <div th:replace="fragments/form.html
                    :: formField(id='contest.additionalInfo', type='text',
                                 labelName='Дополнительная информация', labelSize='20',
                                 fieldName='additionalInfo', fieldSize='80',
                                 size='100',
                                 isReadonly='true', isRequired='false', isAccessToken='false')">
                </div>
            </form>
        </div>
    </div>


    <div class="block" th:if="${!contest.outdated}">
        <div class="block-title">Задания</div>

        <div class="table tasks-table">
            <div class="table-header">
                <h1>Список Заданий</h1>
            </div>
            <div class="table-container">
                <table>
                    <thead>
                    <tr>
                        <th style="width: 10%">
                            ID
                        </th>
                        <th style="width: 20%">
                            Название
                        </th>
                        <th>Дополнительная информация</th>
                        <th style="width: 7%"></th>
                    </tr>
                    </thead>
                    <!--/*@thymesVar id="group" type="trik.testsys.webclient.view.impl.TaskView"*/-->
                    <tr th:each="task : ${tasks}">
                        <td th:text="${task.id}"></td>
                        <td th:text="${task.name}"></td>
                        <td th:text="${task.additionalInfo}"></td>
                        <td class="buttons">
                            <a class="button" th:href="@{'/student/contests/contest/downloadCondition/' + ${contest.id} + '?taskId=' + ${task.id}}" target="_self"
                               th:if="${task.hasCondition}"
                               title="Скачать Условие">
                                <i class="fa-solid fa-file-pdf"></i>
                            </a>
                            <a class="button" th:href="@{'/student/contests/contest/downloadExercise/' + ${contest.id} + '?taskId=' + ${task.id}}" target="_self"
                               title="Скачать Упражнение">
                                <i class="fa-solid fa-download"></i>
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>


    <div class="block">
        <div class="block-title">Посылки</div>

        <div class="form-container" th:if="${!contest.outdated}">
            <div class="form-header">
                <h1>Отправка решения</h1>
            </div>

            <!--/*@thymesVar id="webUser" type="trik.testsys.webclient.view.impl.TaskFileCreationView"*/-->
            <form id="polygon-creation" th:action="@{'/student/contests/contest/submitSolution/' + ${contest.id}}" th:object="${polygon}" method="post" enctype="multipart/form-data">
                <label for="polygon.taskId" class="form-label">Задание</label>

                <select name="taskId" id="polygon.taskId" class="form-input" required>
                    <option value="" disabled selected>Выберите задание</option>
                    <!--/*@thymesVar id="group" type="trik.testsys.webclient.view.impl.TaskView"*/-->
                    <option th:each="task : ${tasks}" th:value="${task.id}" th:text="${task.id} + ':' + ${task.name}"></option>
                </select>
                <label for="polygon-file" class="form-label">Файл</label>
                <input id="polygon-file" name="file" type="file" required>
                <!-- Кнопки редактирования, отправки и отмены -->
                <div class="form-buttons">
                    <button type="button" class="edit-button" id="polygon-creation-edit" onclick="enableForm('polygon-creation')">Отправить решение</button>
                    <button type="submit" class="save-button" id="polygon-creation-save">Отправить</button>
                    <button type="button" class="cancel-button" id="polygon-creation-cancel" onclick="disableForm('polygon-creation')">Отменить</button>
                </div>
            </form>
        </div>

        <div class="table tasks-table">
            <div class="table-header">
                <h1>Список Посылок</h1>
            </div>
            <div class="table-container">
                <table>
                    <thead>
                    <tr>
                        <th style="width: 10%">ID</th>
                        <th>Задание</th>
                        <th style="width: 12%">Дата и время запуска</th>
                        <th>Дополнительная информация</th>
                        <th style="width: 10%">Статус</th>
                        <th style="width: 10%">Результат</th>
                        <th style="width: 7%" th:if="${contest.outdated}"></th>
                    </tr>
                    </thead>
                    <!--/*@thymesVar id="group" type="trik.testsys.webclient.view.impl.TaskTestResultView"*/-->
                    <tr th:each="testResult : ${solutions}">
                        <td th:text="${testResult.id}"></td>
                        <td th:text="${testResult.taskName}"></td>
                        <td th:text="${testResult.creationDate}"></td>
                        <td th:text="${testResult.additionalInfo}"></td>
                        <td th:switch="${testResult.status}">
                            <span th:case="${testResult.status.PASSED}">Успешно</span>
                            <span th:case="${testResult.status.FAILED}">Неуспешно</span>
                            <span th:case="${testResult.status.ERROR}">Ошибка</span>
                            <span th:case="${testResult.status.IN_PROGRESS}">Тестируется</span>
                            <span th:case="${testResult.status.NOT_STARTED}">Ожидает тестирования</span>
                        </td>
                        <td th:text="${testResult.score}"></td>
                        <td class="buttons" th:if="${contest.outdated}">
                            <a class="button" th:href="@{'/student/contests/contest/downloadResults/' + ${contest.id} + '?solutionId=' + ${testResult.id}}" target="_self"
                               title="Скачать результаты проверки">
                                <i class="fa-solid fa-file-zipper"></i>
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

</body>
</html>