<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru" th:charset="utf-8">
<head>
    <th:block th:include="fragments/main :: head('Кабинет Разработчика')"></th:block>

    <link rel="stylesheet" th:href="@{/css/block.css}">
    <link rel="stylesheet" th:href="@{/css/table.css}">

    <th:block th:include="fragments/popup :: head"></th:block>
    <th:block th:include="fragments/form :: head"></th:block>
    <th:block th:include="fragments/menu :: head"></th:block>
</head>

<div th:replace="fragments/table :: table-sort"></div>

<body>

<div th:replace="fragments/main :: background"></div>

<div th:replace="fragments/popup :: popup"></div>

<div th:replace="fragments/popup :: emergencyPopup"></div>

<div th:replace="fragments/entity/developer
    :: developerHeader(breadCrumbNames=${ { 'Файлы', 'Файл' } },
                       breadCrumbLinks=${ { '/developer/taskFiles', '|/developer/taskFiles/taskFile/${taskFile.id}|' } })"></div>

<div th:replace="fragments/entity/developer :: developerMenu"></div>

<div class="container">
    <!-- Первый блок -->
    <div class="block">
        <div class="block-title">Задание</div>

        <div class="form-container">
            <div class="form-header">
                <h1>Информация о Задании</h1>
            </div>

            <!--/*@thymesVar id="webUser" type="trik.testsys.webclient.view.impl.TaskFileView"*/-->
            <form id="task-info" action="#" th:action="@{/developer/taskFiles/taskFile/update/{id}(id=${taskFile.id})}" th:object="${taskFile}" method="post">
                <div th:replace="fragments/form.html
                    :: formField(id='taskFile.id', type='text',
                                 labelName='ID', labelSize='20',
                                 fieldName='id', fieldSize='80',
                                 size='50',
                                 isReadonly='true', isRequired='false', isAccessToken='false')">
                </div>
                <div th:replace="fragments/form.html
                    :: formField(id='taskFile.creationDate', type='text',
                                 labelName='Дата и время создания', labelSize='25',
                                 fieldName='creationDate', fieldSize='75',
                                 size='50',
                                 isReadonly='true', isRequired='false', isAccessToken='false')">
                </div>
                <div th:replace="fragments/form.html
                    :: formField(id='taskFile.name', type='text',
                                 labelName='Название', labelSize='20',
                                 fieldName='name', fieldSize='80',
                                 size='50',
                                 isReadonly='false', isRequired='true', isAccessToken='false')">
                </div>
                <div th:replace="fragments/form.html
                    :: formField(id='taskFile.type', type='text',
                                 labelName='Тип', labelSize='25',
                                 fieldName='type', fieldSize='75',
                                 size='50',
                                 isReadonly='true', isRequired='false', isAccessToken='false')">
                </div>
                <div th:replace="fragments/form.html
                    :: formField(id='taskFile.additionalInfo', type='text',
                                 labelName='Дополнительная информация', labelSize='20',
                                 fieldName='additionalInfo', fieldSize='80',
                                 size='100',
                                 isReadonly='false', isRequired='false', isAccessToken='false')">
                </div>
                <div th:replace="fragments/form.html
                    :: formField(id='taskFile.note', type='text',
                                 labelName='Заметка (видна только вам)', labelSize='20',
                                 fieldName='note', fieldSize='80',
                                 size='100',
                                 isReadonly='false', isRequired='false', isAccessToken='false')">
                </div>
                <!-- Кнопки редактирования, отправки и отмены -->
                <div class="form-buttons">
                    <button type="button" class="edit-button" id="task-info-edit" onclick="enableForm('task-info')">Редактировать</button>
                    <button type="submit" class="save-button" id="task-info-save">Сохранить</button>
                    <button type="button" class="cancel-button" id="task-info-cancel" onclick="disableForm('task-info')">Отменить</button>
                </div>
            </form>
        </div>
    </div>

    <div class="block">
        <div class="block-title">История изменений файлов</div>

        <div class="form-container">
            <div class="form-header">
                <h1>Изменить файл</h1>
            </div>

            <!--/*@thymesVar id="webUser" type="trik.testsys.webclient.view.impl.TaskFileView"*/-->
            <form id="file-change" action="#" th:action="@{/developer/taskFiles/taskFile/updateFile/{id}(id=${taskFile.id})}" th:object="${taskFileAudit}" method="post" enctype="multipart/form-data">
                <div th:replace="fragments/form.html
                    :: formField(id='taskFileAudit.additionalInfo', type='text',
                                 labelName='Дополнительная информация', labelSize='20',
                                 fieldName='additionalInfo', fieldSize='80',
                                 size='100',
                                 isReadonly='false', isRequired='false', isAccessToken='false')">
                </div>

                <label for="file" class="form-label">Файл</label>
                <input id="file" name="file" type="file" required>
                <!-- Кнопки редактирования, отправки и отмены -->
                <div class="form-buttons">
                    <button type="button" class="edit-button" id="file-change-edit" onclick="enableForm('file-change')">Редактировать</button>
                    <button type="submit" class="save-button" id="file-change-save">Сохранить</button>
                    <button type="button" class="cancel-button" id="file-change-cancel" onclick="disableForm('file-change')">Отменить</button>
                </div>
            </form>
        </div>

        <div class="table tasks-table">
            <div class="form-header">
                <h1>Список изменений</h1>
            </div>
            <div class="table-container">
                <table>
                    <thead>
                    <tr>
                        <th style="width: 15%">
                            Дата и время
                        </th>
                        <th>
                            Дополнительная информация
                        </th>
                        <th style="width: 7%"></th>
                    </tr>
                    </thead>
                    <!--/*@thymesVar id="group" type="trik.testsys.webclient.view.impl.TaskFileView"*/-->
                    <tr th:each="taskFileAudit : ${taskFile.taskFileAudits}">
                        <td th:text="${taskFileAudit.creationDate}"></td>
                        <td th:text="${taskFileAudit.additionalInfo}"></td>
                        <td class="buttons">
                            <a class="button" th:href="@{'/developer/taskFiles/taskFile/downloadAudit/' + ${taskFileAudit.id}}" target="_self"
                               title="Скачать файл">
                                <i class="fa-solid fa-file-download"></i>
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

</div>

</body>
</html>