<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru" th:charset="utf-8">
<head>
    <th:block th:include="fragments/main :: head('Кабинет Организатора')"></th:block>

    <link rel="stylesheet" th:href="@{/css/block.css}">
    <link rel="stylesheet" th:href="@{/css/table.css}">

    <th:block th:include="fragments/popup :: head"></th:block>
    <th:block th:include="fragments/form :: head"></th:block>
    <th:block th:include="fragments/menu :: head"></th:block>
</head>

<div th:replace="fragments/table :: table-sort"></div>

<body>

<div th:replace="fragments/main :: background"></div>

<div th:replace="fragments/popup :: popup"></div>

<div th:replace="fragments/popup :: emergencyPopup"></div>

<div th:replace="fragments/entity/admin
    :: adminHeader(breadCrumbNames=${ { 'Группы', 'Группа' } },
                   breadCrumbLinks=${ { '/admin/groups', '|/admin/groups/group/${group.id}|' } })"></div>

<div th:replace="fragments/entity/admin :: adminMenu"></div>

<!-- Контент -->
<div class="container">
    <!-- Первый блок -->
    <div class="block">
        <div class="block-title">Группа</div>

        <div class="form-container">
            <div class="form-header">
                <h1>Информация о Группе</h1>
            </div>

            <!--/*@thymesVar id="webUser" type="trik.testsys.webclient.view.impl.GroupView"*/-->
            <form id="group-info" action="#" th:action="@{/admin/groups/group/update/{groupId}(groupId=${group.id})}" th:object="${group}" method="post">
                <div th:replace="fragments/form.html
                    :: formField(id='group.id', type='text',
                                 labelName='ID', labelSize='20',
                                 fieldName='id', fieldSize='80',
                                 size='50',
                                 isReadonly='true', isRequired='false', isAccessToken='false')">
                </div>
                <div th:replace="fragments/form.html
                    :: formField(id='group.regToken', type='text',
                                 labelName='Код-регистрации', labelSize='25',
                                 fieldName='regToken', fieldSize='75',
                                 size='50',
                                 isReadonly='true', isRequired='false', isAccessToken='true')">
                </div>
                <div th:replace="fragments/form.html
                    :: formField(id='group.name', type='text',
                                 labelName='Название', labelSize='20',
                                 fieldName='name', fieldSize='80',
                                 size='50',
                                 isReadonly='false', isRequired='true', isAccessToken='false')">
                </div>
                <div th:replace="fragments/form.html
                    :: formField(id='group.creationDate', type='text',
                                 labelName='Дата и время создания', labelSize='25',
                                 fieldName='creationDate', fieldSize='75',
                                 size='50',
                                 isReadonly='true', isRequired='false', isAccessToken='false')">
                </div>
                <div th:replace="fragments/form.html
                    :: formField(id='group.additionalInfo', type='text',
                                 labelName='Дополнительная информация', labelSize='20',
                                 fieldName='additionalInfo', fieldSize='80',
                                 size='100',
                                 isReadonly='false', isRequired='false', isAccessToken='false')">
                </div>
                <!-- Кнопки редактирования, отправки и отмены -->
                <div class="form-buttons">
                    <button type="button" class="edit-button" id="group-info-edit" onclick="enableForm('group-info')">Редактировать</button>
                    <button type="submit" class="save-button" id="group-info-save">Сохранить</button>
                    <button type="button" class="cancel-button" id="group-info-cancel" onclick="disableForm('group-info')">Отменить</button>
                </div>
            </form>
        </div>
    </div>

    <div class="block">
        <div class="block-title">Туры</div>

        <div class="table contests-table">
            <div class="form-header">
                <h1>Список прикрепленных Туров</h1>
            </div>
            <div class="table-container">
                <table>
                    <thead>
                    <tr>
                        <th style="width: 7%">
                            ID
                        </th>
                        <th style="width: 20%">
                            Название
                        </th>
                        <th>Дополнительная информация</th>
                        <th style="width: 12%">
                            Дата и время начала
                        </th>
                        <th style="width: 12%">
                            Дата и время окончания
                        </th>
                        <th style="width: 8%">
                            Время на выполнение
                        </th>
                        <th style="width: 7%">
                        </th>
                    </tr>
                    </thead>
                    <!--/*@thymesVar id="group" type="trik.testsys.webclient.view.impl.ContestView"*/-->
                    <tr th:each="contest : ${linkedContests}">
                        <td th:text="${contest.id}"></td>
                        <td th:text="${contest.name}"></td>
                        <td th:text="${contest.additionalInfo}"></td>
                        <td th:text="${contest.formattedStartDate}"></td>
                        <td th:text="${contest.formattedEndDate}"></td>
                        <td th:text="${contest.formattedDuration}"></td>
                        <td class="buttons">
                            <form th:action="@{/admin/groups/group/unlinkContest/{id}(id=${group.id})}" method="post">
                                <input type="hidden" name="contestId" th:value="${contest.id}">
                                <button type="submit" title="Открепить"
                                        class="button">
                                    <i class="fa-solid fa-link-slash"></i>
                                </button>
                            </form>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="table contests-table">
            <div class="form-header">
                <h1>Список доступных к прикреплению Туров</h1>
            </div>
            <div class="table-container">
                <table>
                    <thead>
                    <tr>
                        <th style="width: 7%">
                            ID
                        </th>
                        <th style="width: 20%">
                            Название
                        </th>
                        <th>Дополнительная информация</th>
                        <th style="width: 12%">
                            Дата и время начала
                        </th>
                        <th style="width: 12%">
                            Дата и время окончания
                        </th>
                        <th style="width: 8%">
                            Время на выполнение
                        </th>
                        <th style="width: 7%">
                        </th>
                    </tr>
                    </thead>
                    <!--/*@thymesVar id="group" type="trik.testsys.webclient.view.impl.ContestView"*/-->
                    <tr th:each="contest : ${unlinkedContests}">
                        <td th:text="${contest.id}"></td>
                        <td th:text="${contest.name}"></td>
                        <td th:text="${contest.additionalInfo}"></td>
                        <td th:text="${contest.formattedStartDate}"></td>
                        <td th:text="${contest.formattedEndDate}"></td>
                        <td th:text="${contest.formattedDuration}"></td>
                        <td class="buttons">
                            <form th:action="@{/admin/groups/group/linkContest/{id}(id=${group.id})}" method="post">
                                <input type="hidden" name="contestId" th:value="${contest.id}">
                                <button type="submit" title="Прикрепить"
                                        class="button">
                                    <i class="fa-solid fa-link"></i>
                                </button>
                            </form>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div class="block">
        <div class="block-title">Участники</div>

        <div class="form-container">
            <div class="form-header">
                <h1>Генерация Участников</h1>
            </div>

            <!--/*@thymesVar id="webUser" type="trik.testsys.webclient.view.impl.GroupView"*/-->
            <form id="student-generation" action="#" th:action="@{/admin/groups/group/generateStudents/{groupId}(groupId=${group.id})}" method="post">
                <div class="form-field" style="flex-basis: 50%">
                    <div class="form-label" style="flex-basis: 50%">
                        <label for="student.count">Количество</label>
                    </div>
                    <div class="form-input" style="flex-basis: 50%">
                        <input name="count"
                               type="number" id="student.count" readonly required/>
                    </div>
                </div>
                <!-- Кнопки редактирования, отправки и отмены -->
                <div class="form-buttons">
                    <button type="button" class="edit-button" id="student-generation-edit" onclick="enableForm('student-generation')">Сгенерировать Участников</button>
                    <button type="submit" class="save-button" id="student-generation-save">Сгенерировать</button>
                    <button type="button" class="cancel-button" id="student-generation-cancel" onclick="disableForm('student-generation')">Отменить</button>
                </div>
            </form>

            <a class="button" th:href="@{/admin/groups/group/exportStudents/{groupId}(groupId=${group.id})}"
               title="Экспорт в стандартной кодировке"
               target="_self">
                Экспорт Участников (UTF-8)
            </a>
            <!--TODO: remove later-->
            <a class="button" th:href="@{'/admin/groups/group/exportStudents/' + ${group.id} + '?Windows'}"
               title="Экспорт в кодировке для Windows до версии 8.1 (включительно)"
               target="_self">
                Экспорт Участников (Windows-1251)
            </a>

            <br/>

            <a class="button" th:href="@{/admin/groups/group/exportResults/{groupId}(groupId=${group.id})}"
               title="Экспорт в стандартной кодировке"
               target="_self">
                Экспорт результатов (UTF-8)
            </a>
            <a class="button" th:href="@{'/admin/groups/group/exportResults/' + ${group.id} + '?Windows'}"
               title="Экспорт в кодировке для Windows до версии 8.1 (включительно)"
               target="_self">
                Экспорт результатов (Windows-1251)
            </a>
        </div>

        <div class="table contests-table">
            <div class="form-header">
                <h1>Список Участников</h1>
            </div>
            <div class="table-container">
                <table>
                    <thead>
                    <tr>
                        <th style="width: 7%">
                            ID
                        </th>
                        <th style="width: 20%">
                            Псевдоним
                        </th>
                        <th>Дополнительная информация</th>
                    </tr>
                    </thead>
                    <!--/*@thymesVar id="group" type="trik.testsys.webclient.view.impl.ContestView"*/-->
                    <tr th:each="student : ${students}">
                        <td th:text="${student.id}"></td>
                        <td th:text="${student.name}"></td>
                        <td th:text="${student.additionalInfo}"></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

</body>
</html>