version: '3'

services:
  mysql_host:
    image: mysql:9.1.0
    restart: always

    environment:
      MYSQL_USER: testsys
      MYSQL_ALLOW_EMPTY_PASSWORD: 'yes'
      MYSQL_DATABASE: testsys_db
      MYSQL_PASSWORD: p@ssw0rd

    healthcheck:
      test: ["CMD", "mysqladmin" ,"ping", "-h", "localhost"]
      timeout: 20s
      retries: 10

    volumes:
      - ./data/mysql:/var/lib/mysql

#    ports:
#      - "3306:3306"
#    expose:
#      - 3306

  web-app:
    image: 5h15h4k1n9/web-app:3.0.0-beta
    restart: always

    environment:
      - JAVA_OPTIONS=-server -Xmx4g -Xms1g -XX:+HeapDumpOnOutOfMemoryError -XX:HeapDumpPath=/web-app/dumps/ -XX:+CrashOnOutOfMemoryError -XX:+UseG1GC -XX:MaxGCPauseMillis=200 -XX:ParallelGCThreads=6 -XX:ConcGCThreads=3
      - CONTEXT_PATH=/
      - MYSQL_HOST=mysql_host
      - MYSQL_PORT=3306
      - MYSQL_USERNAME=testsys
      - MYSQL_PASSWORD=p@ssw0rd

    ports:
      - "8888:8888"
    expose:
      - "8888"

    volumes:
      - ./logs:/web-app/logs
      - ./data:/web-app/data
      - ./dumps:/web-app/dumps
    links:
      - mysql_host:mysql_host

    depends_on:
      mysql_host:
        condition: service_healthy