<html xmlns:th="http://www.thymeleaf.org" lang="ru" th:charset="utf-8">

<div th:fragment="viewerHeader(breadCrumbNames, breadCrumbLinks)"
     th:replace="fragments/menu
        :: header(title='Кабинет районного Наблюдателя',
                  titleLink='/viewer',
                  breadCrumbNames=${breadCrumbNames},
                  breadCrumbLinks=${breadCrumbLinks})"></div>

<div th:fragment="viewerMenu"
     th:replace="fragments/menu
        :: sideMenu(links=${ {'/viewer', '/viewer/admins', '/viewer?Logout=' } },
                    names=${ { 'Профиль', 'Организаторы', 'Выход' } })"></div>

</html>