<html xmlns:th="http://www.thymeleaf.org" lang="ru" th:charset="utf-8">

<head th:fragment="head(title)">
    <meta charset="UTF-8">
    <title th:text="${title}"></title>

    <link rel="icon" th:href="@{/img/trik_testsys_logo.ico}">

    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" th:href="@{/assets/fontawesome/css/all.css}"/>

    <script th:src="@{/js/scripts.js}"></script>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const timezone = Intl.DateTimeFormat().resolvedOptions().timeZone;
            document.cookie = "X-Timezone=" + timezone;
        });
    </script>

</head>

<!--Background for every page-->
<div th:fragment="background" class="background-container"></div>

<!--/*@thymesVar id="logos" type="trik.testsys.webclient.view.impl.LogosView"*/-->
<div th:fragment="main-logo">
    <div class="main-logo modal" th:style="${logos.hasMain} ? '' : 'display: none;'">
        <img th:if="${logos.hasMain}"
             th:src="@{|/img/${logos.mainLogo.name}|}"
             alt="Main logo"/>
    </div>
</div>

<!--/*@thymesVar id="logos" type="trik.testsys.webclient.view.impl.LogosView"*/-->
<div th:fragment="sponsor-logos">
    <div class="sponsor-logos modal" th:style="${logos.hasSponsors} ? '' : 'display: none;'">
        <img th:each="sponsor : ${logos.sponsorLogos}"
             th:src="@{|/img/${sponsor.name}|}"
             alt="Sponsor logo"/>
    </div>
</div>

</html>