<html xmlns:th="http://www.thymeleaf.org" lang="ru" th:charset="utf-8">

<head th:fragment="head">
    <link rel="stylesheet" th:href="@{/css/popup.css}"/>

    <script th:src="@{/js/popup.js}"></script>
</head>

<!--Popup with a flash message-->
<div th:fragment="popup"
     id="popup" class="popup" th:if="${message != null}">
    <div class="popup-content">
        <span class="popup-close" onclick="closePopup()">&times;</span>
        <p th:text="${message}"></p>
    </div>
</div>

<!--Emergency Popup with a flash message-->
<div th:fragment="emergencyPopup"
     id="emergency-popup" class="emergency-popup" th:if="${emergencyMessage != null}">
    <div class="popup-content">
        <p th:text="${emergencyMessage}"></p>
    </div>
</div>

</html>