.date-cell {
  white-space: nowrap;
  width: 180px;
}

.id-cell {
  width: 80px;
  white-space: nowrap;
}

.token-cell {
  min-width: 520px;
  white-space: nowrap;
}

.version-cell {
  width: 100px;
}


