* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: var(--trik-blue);
    color: var(--trik-white);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.logo {
    display: flex;
    align-items: center;
}

.logo-img {
    height: 44px;
    margin-right: 10px;
}

.cabinet-name {
    font-size: 1.25rem;
    font-weight: bold;
}

.cabinet-name a {
    text-decoration: none;
    color: var(--trik-white);
}

.cabinet-name a:hover {
    color: var(--trik-green);
}

.menu-button {
    font-size: 1.6rem;
    background: none;
    border: none;
    color: var(--trik-white);
    cursor: pointer;
    padding: 5px;
}

.menu-button:hover {
    opacity: 0.8;
}

.side-menu {
    position: fixed;
    right: -250px;
    top: 0;
    height: 100%;
    width: 250px;
    background-color: var(--trik-blue);
    color: var(--trik-white);
    transition: right 0.3s ease;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 100;
    box-shadow: -5px 0 15px rgba(0, 0, 0, 0.3);
}

.side-menu ul {
    list-style: none;
    text-align: center;
}

.side-menu ul li {
    margin: 20px 0;
}

.side-menu ul li a {
    text-decoration: none;
    color: var(--trik-white);
    font-size: 1.05rem;
    transition: color 0.3s ease;
}

.side-menu ul li a:hover {
    color: var(--trik-green);
}

.side-menu.active {
    right: 0;
}

.close-button {
    background: none;
    border: none;
    color: var(--trik-red);
    font-size: 1.6rem;
    align-self: flex-end;
    cursor: pointer;
}

.close-button:hover {
    opacity: 0.8;
}