/* Основной стиль попапа */
.popup {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 280px;
    background: var(--trik-blue); /* Полупрозрачный чёрный фон */
    color: var(--trik-white);
    padding: 16px;
    border-radius: 15px; /* Закруглённые углы */
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5); /* Плавная тень */
    display: none; /* По умолчанию скрыт */
    z-index: 1000; /* Поверх всего остального контента */
    animation: slideUp 0.5s ease; /* Анимация появления */
    box-sizing: border-box;
    overflow: hidden; /* Чтобы содержимое не вылезало за рамки */
}

/* Стиль для содержания внутри попапа */
.popup-content {
    display: flex;
    justify-content: space-between; /* Равномерное распределение контента и кнопки закрытия */
    align-items: center;
    width: 100%;
}

 /*Стиль для кнопки закрытия попапа */
.popup-close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    color: var(--trik-red); /* Красный цвет для контраста */
    background: none;
    border: none;
    outline: none;
}

 /*Стиль для текста сообщения внутри попапа */
.popup-content p {
    flex-grow: 1; /* Позволяет тексту занять всю оставшуюся ширину */
    margin: 0;
    text-align: left;
    word-wrap: break-word;
    padding-right: 40px; /* Отступ для текста от кнопки */
}

/* Основной стиль попапа */
.emergency-popup {
    position: fixed;
    top: 90px;
    right: 30px;
    width: 280px;
    background: var(--trik-red); /* Полупрозрачный чёрный фон */
    color: var(--trik-blue);
    padding: 16px;
    border-radius: 15px; /* Закруглённые углы */
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5); /* Плавная тень */
    display: block;
    z-index: 1000; /* Поверх всего остального контента */
    animation: slideUp 0.5s ease; /* Анимация появления */
    box-sizing: border-box;
    overflow: hidden; /* Чтобы содержимое не вылезало за рамки */
}

/* Анимация плавного появления попапа */
@keyframes slideUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
