:root {
    --trik-blue: #001A42;
    --trik-green: #99CC00;
    --trik-white: #f2f3f4;
    --trik-grey: #e6e6e6;
}

body {
    margin: 0;
    padding: 0;
    background: var(--trik-white)
}

.container {
    margin: 0 auto;
    width: 100%;
    font-family: "Roboto", sans-serif;
}

.header {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 5px;
    background-color: var(--trik-blue);
    height: 50px;
}

.header > .page-type {
    margin-left: 15px;
    color: var(--trik-white);
    font-size: 20px;
}

.header > .exit {
    margin-right: 15px;
}

.header > .exit > form > input[type="submit"], .data-header > button, .info button {
    background-color: var(--trik-blue);
    border: none;
    color: var(--trik-white);
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
}

.header > .exit > form > input[type="submit"]:hover, .uploadForm input[type="submit"]:hover, .info button:hover {
    background-color: var(--trik-green);
    color: var(--trik-blue);
    cursor: pointer;
}

.header .page-type {
    margin-left: 0px;
    display: flex;
    align-items: center;
}

.header .page-type img {
    width: 60px;
    height: 60px;
    margin: 0 15px 0 0;
}

.greeting {
    font-size: 30px;
    color: var(--trik-blue);
}

.main {
    width: 80%;
    margin: 80px auto 20px;
}

.greeting > h3 {
    margin: 0;
    font-size: 20px;
}

.greeting > p {
    margin: 0;
    font-size: 16px;
}

.greeting > ul {
    margin: 0;
    font-size: 16px;
}

.accessToken, .label {
    font-family: monospace;
    font-size: 15px;
}

.accessToken {
    filter: blur(5px);
}

.accessToken:hover {
    cursor: pointer;
    color: var(--trik-green);
    filter: blur(0);
}

.data-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20%;
}

h1 {
    color: var(--trik-blue);
    font-size: 30px;
    text-align: center;
}

button:hover {
    cursor: pointer;
}

.info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-radius: 5px;
    background-color: var(--trik-grey);
    color: var(--trik-blue);
}

.avatar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20%;
}

.additional-info {
    width: 100%;
    align-items: center;
    justify-content: center;
}

.info-table {
    width: 100%;
}

.info-table td {
    padding: 5px;
}

.info-table td:nth-child(1) {
    font-weight: bold;
    width: 33%;
}

.info-table td:nth-child(2) {
    text-align: right;
}

.avatar-container img {
    width: 100px;
    height: 100px;
    border-radius: 10%;
    background-color: var(--trik-blue);
    align-self: center;
}

.avatar-container .username {
    align-self: center;
    align-content: center;
    text-align: center;
}