<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru" th:charset="utf-8">
<head>
    <meta charset="UTF-8">
    <title>Кабинет Организатора</title>

    <link rel="icon" th:href="@{/img/trik_testsys_logo.ico}">

    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" th:href="@{/css/popup.css}"/>
    <link rel="stylesheet" th:href="@{/css/form.css}"/>
    <link rel="stylesheet" th:href="@{/css/menu.css}">
    <link rel="stylesheet" th:href="@{/css/block.css}">

    <script th:src="@{/js/scripts.js}"></script>
    <script th:src="@{/js/popup.js}"></script>
    <script th:src="@{/js/form.js}"></script>
    <script th:src="@{/js/menu.js}"></script>
</head>
<body>

<div th:replace="fragments/main :: background"></div>

<div th:replace="fragments/main :: popup"></div>

<div id="popup" class="popup" th:if="${message != null}">
    <div class="popup-content">
        <span class="popup-close" onclick="closePopup()">&times;</span>
        <p th:text="${message}">Это текст сообщения попапа.</p>
    </div>
</div>

<header class="header">
    <div class="logo">
        <img th:src="@{/img/trik_testsys_logo.svg}" alt="Лого" class="logo-img">
        <span class="cabinet-name">Кабинет Организатора</span>
    </div>
    <button class="menu-button" onclick="toggleMenu()">≡</button>
</header>

<div class="side-menu" id="side-menu">
    <ul>
        <li><a th:href="@{/admin}">Профиль</a></li>
        <li><a th:href="@{/admin/groups}">Группы</a></li>
        <li><a th:href="@{/admin?Logout=''}">Выход</a></li>
    </ul>
</div>

<!-- Контент -->
<div class="container">
    <!-- Первый блок -->
    <div class="block">
        <div class="block-title">Профиль</div>

        <div class="form-container">
            <!--/*@thymesVar id="webUser" type="trik.testsys.webclient.view.AdminView"*/-->
            <form id="admin-info" action="#" th:action="@{/admin/update}" th:object="${webUser}" method="post">
                <input th:field="*{id}" type="text" id="admin.id" hidden/>
                <input th:field="*{viewer}" type="text" id="admin.viewer" hidden/>

                <div class="form-field" style="flex-basis: 50%">
                    <div class="form-label" style="flex-basis: 20%">
                        <label for="admin.name">Псевдоним</label>
                    </div>
                    <div class="form-input" style="flex-basis: 80%">
                        <input th:field="*{name}" type="text" id="admin.name" readonly required/>
                    </div>
                </div>
                <div class="form-field" style="flex-basis: 50%">
                    <div class="form-label" style="flex-basis: 20%">
                        <label for="admin.accessToken">Код-доступа</label>
                    </div>
                    <div class="form-input" style="flex-basis: 80%">
                        <input th:field="*{accessToken}" type="text" id="admin.accessToken" class="readonly accessToken" readonly/>
                    </div>
                </div>
                <div class="form-field" style="flex-basis: 25%">
                    <div class="form-label" style="flex-basis: 40%">
                        <label for="admin.lastLoginDate">Дата и время входа</label>
                    </div>
                    <div class="form-input" style="flex-basis: 60%">
                        <input th:field="*{lastLoginDate}" type="text" id="admin.lastLoginDate" class="readonly" readonly/>
                    </div>
                </div>
                <div class="form-field" style="flex-basis: 25%">
                    <div class="form-label" style="flex-basis: 40%">
                        <label for="admin.creationDate">Дата и время регистрации</label>
                    </div>
                    <div class="form-input" style="flex-basis: 60%">
                        <input th:field="*{creationDate}" type="text" id="admin.creationDate" class="readonly" readonly/>
                    </div>
                </div>
                <div class="form-field" style="flex-basis: 50%">
                    <div class="form-label" style="flex-basis: 20%">
                        <label for="admin.viewer.name">Закреплен за Наблюдателем</label>
                    </div>
                    <div class="form-input" style="flex-basis: 80%">
                        <input th:field="*{viewer.name}" type="text" id="admin.viewer.name" class="readonly" readonly/>
                    </div>
                </div>
                <div class="form-field" style="flex-basis: 100%">
                    <div class="form-label" style="flex-basis: 20%">
                        <label for="admin.additionalInfo">Дополнительная информация</label>
                    </div>
                    <div class="form-input" style="flex-basis: 80%">
                        <input th:field="*{additionalInfo}" type="text" id="admin.additionalInfo" readonly/>
                    </div>
                </div>

                <!-- Кнопки редактирования, отправки и отмены -->
                <div class="form-buttons">
                    <button type="button" class="edit-button" id="admin-info-edit" onclick="enableForm('admin-info')">Редактировать</button>
                    <button type="submit" class="save-button" id="admin-info-save">Сохранить</button>
                    <button type="button" class="cancel-button" id="admin-info-cancel" onclick="disableForm('admin-info')">Отменить</button>
                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>