<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" th:charset="utf-8">
<head>
    <meta charset="UTF-8">
    <title>Страница Разработчика</title>
    <link rel="icon" th:href="@{/img/trik_testsys_logo.ico}">
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" th:href="@{/css/popup.css}"/>
    <link rel="stylesheet" th:href="@{/css/table.css}"/>
    <!--    <link rel="stylesheet" th:href="@{/fontawesome-free-6.4.2-web/css/all.min.css}">-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
    </script>
</head>
<body>
<div class="container">
    <div class="header">
        <div class="page-type">
            <img th:src="@{/img/trik_testsys_logo.svg}" alt="logo">
            <p>Страница Разработчика</p>
        </div>
        <div class="exit">
            <form th:action="@{/v1/testsys}" method="get">
                <input type="submit" value="Выйти"/>
            </form>
        </div>
    </div>
    <div class="main">
        <div class="info">
            <div class="greeting">
                <h3>Здравствуйте, <span th:text="${username}"></span>!</h3>
                <p>На этой странице вы можете:</p>
                <ul>
                    <li>Загрузить/изменить/удалить задачу;</li>
                    <li>Просмотреть список всех задач;</li>
                    <li>Открыть доступ к задаче выбранным Администраторам.</li>
                </ul>
            </div>
            <div class="user-data">
                <p>Ваш Код-доступа: <b><span title="Нажмите, чтобы скопировать" th:text="${accessToken}"
                                             id="accessToken" class="accessToken"
                                             onclick="copy('accessToken')">ed30da0f75d595465d6977e2fd551d2026cc3ff66dd5bd958ac2a50807684cb7</span>.</b>
                </p>
            </div>
        </div>
    </div>
    <div class="uploadTaskPopup popup" id="uploadTaskPopup">
        <div class="popup-content">
            <button id="closeUploadTask" class="close-button" onclick="resetPopupForm('uploadTaskForm')">
                <i class="fa fa-close"></i>
            </button>
            <h1>Загрузка задачи</h1>
            <form class="uploadForm" id="uploadTaskForm" th:action="@{/v1/testsys/developer/task/create}" method="post"
                  enctype="multipart/form-data">
                <input type="text" name="name" placeholder="Название задачи" required/>
                <input type="text" name="description" placeholder="Описание задачи" required/>
                <input type="text" name="accessToken" th:value="${accessToken}" style="display: none"/>
                <label class="upload-file">
                    Тестовые поля
                    <input type="file" multiple="multiple" name="tests" accept=".xml" required/>
                </label>
                <label class="upload-file">
                    Эталонное решение
                    <input type="file" name="benchmark" accept=".qrs"/>
                </label>
                <label class="upload-file">
                    Файл с упражнением
                    <input type="file" name="training" accept=".qrs"/>
                </label>
                <input type="submit" id="uploadTask" value="Загрузить"/>
            </form>
        </div>
    </div>

    <div class="table tasks-table">
        <table>
            <caption>Список задач</caption>
            <tr>
                <th>ID</th>
                <th>Название</th>
                <th>Описание</th>
                <th>Действия</th>
            </tr>
            <tr th:each="task: ${tasks}" th:id="'task' + ${task.id}">
                <td th:text="${task.id}" style="width: 10%"></td>
                <td th:text="${task.name}"></td>
                <td th:text="${task.description}"></td>
                <td style=" width: 10%">
                    <div class="infoPopup taskInfoPopup popup" th:id="'taskInfoPopup' + ${task.id}">
                        <div class="popup-content">
                            <button id="closeTaskInfo" class="close-button"
                                    th:onclick="'closeTaskInfo(' + ${task.id} + ')'">
                                <i class="fa fa-close"></i>
                            </button>
                            <h1>Информация о задаче</h1>
                            <div class="taskInfo">
                                <p>Название: <span th:text="${task.name}"></span></p>
                                <p>Описание: <span th:text="${task.description}"></span></p>
                                <p>Количество решений: <span th:text="${task.solutions.size()}"></span></p>
                                <p>Количество групп: <span th:text="${task.groups.size()}"></span></p>
                                <p>Количество Администраторов: <span th:text="${task.admins.size()}"></span></p>
                                <p th:if="${task.admins.size() > 0}">Доступна Администраторам:</p>
                                <ul class="admin-list" th:if="${task.admins.size() > 0}">
                                    <li th:each="admin: ${task.admins}"
                                        th:text="${admin.id} + ': ' + ${admin.webUser.username}"></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="task-edit-popup popup" th:id="'taskEditPopup' + ${task.id}">
                        <div class="popup-content">
                            <button id="closeEditTask" class="close-button"
                                    th:onclick="'closeEditTask(' + ${task.id} + ')'">
                                <i class="fa fa-close"></i>
                            </button>
                            <h1>Редактирование задачи</h1>
                            <h1 th:text="${task.id} + ': ' + ${task.name}"></h1>
                            <form class="uploadForm" id="editTaskForm" th:action="@{/v1/testsys/developer/task/edit}"
                                  method="post"
                                  enctype="multipart/form-data">
                                <input type="number" name="taskId" th:value="${task.id}" required
                                       style="display: none"/>
                                <input type="text" name="name" th:value="${task.name}" placeholder="Название задачи"
                                       required/>
                                <input type="text" name="description" th:value="${task.description}"
                                       placeholder="Описание задачи" required/>
                                <input type="text" name="accessToken" th:value="${accessToken}" style="display: none"/>
                                <label class="upload-file">
                                    Тестовые поля
                                    <input type="file" multiple="multiple" name="tests" accept=".xml"/>
                                </label>
                                <label class="upload-file">
                                    Эталонное решение
                                    <input type="file" name="benchmark" accept=".qrs"/>
                                </label>
                                <label class="upload-file">
                                    Файл с упражнением
                                    <input type="file" name="training" accept=".qrs"/>
                                </label>
                                <input type="submit" id="editTask" value="Изменить"/>
                            </form>
                        </div>
                    </div>


                    <div class="attach-task-to-admin-popup popup" th:id="'attachTaskToAdminPopup' + ${task.id}">
                        <div class="popup-content">
                            <button id="closeAttachTaskToAdmin" class="close-button"
                                    th:onclick="'closeAttachTaskToAdmin(' + ${task.id} + ')'">
                                <i class="fa fa-close"></i>
                            </button>
                            <h1>Предоставление доступа к задаче</h1>
                            <h1 th:text="${task.id} + ': ' + ${task.name}"></h1>
                            <p>Выберите Администраторов:</p>
                            <form class="uploadForm" id="attachTaskToAdminForm"
                                  th:action="@{/v1/testsys/developer/task/attach}" method="post"
                                  enctype="multipart/form-data">
                                <input type="number" name="taskId" th:value="${task.id}" required
                                       style="display: none"/>
                                <input type="text" name="accessToken" th:value="${accessToken}" style="display: none"/>
                                <select class="admin-select" name="adminIds" multiple required>
                                    <option th:each="admin: ${admins}" th:if="${!task.admins.contains(admin)}"
                                            th:value="${admin.id}"
                                            th:text="${admin.id} + ': ' + ${admin.webUser.username}"></option>
                                </select>
                                <input type="submit" id="attachTaskToAdmin" value="Предоставить"/>
                            </form>
                        </div>
                    </div>

                    <div class="detach-task-from-admin-popup popup" th:id="'detachTaskFromAdminPopup' + ${task.id}">
                        <div class="popup-content">
                            <button id="closeDetachTaskFromAdmin" class="close-button"
                                    th:onclick="'closeDetachTaskFromAdmin(' + ${task.id} + ')'">
                                <i class="fa fa-close"></i>
                            </button>
                            <h1>Отключение доступа к задаче</h1>
                            <h1 th:text="${task.id} + ': ' + ${task.name}"></h1>
                            <p>Выберите Администраторов:</p>
                            <form class="uploadForm" id="detachTaskFromAdminForm"
                                  th:action="@{/v1/testsys/developer/task/detach}" method="post"
                                  enctype="multipart/form-data">
                                <input type="number" name="taskId" th:value="${task.id}" required
                                       style="display: none"/>
                                <input type="text" name="accessToken" th:value="${accessToken}" style="display: none"/>
                                <select class="admin-select" name="adminIds" multiple required>
                                    <option th:each="admin: ${task.admins}"
                                            th:value="${admin.id}"
                                            th:text="${admin.id} + ': ' + ${admin.webUser.username}"></option>
                                </select>
                                <input type="submit" id="detachTaskFromAdmin" value="Отключить"/>
                            </form>
                        </div>
                    </div>

                    <div class="task-delete-popup popup" th:id="'taskDeletePopup' + ${task.id}">
                        <div class="popup-content">
                            <button id="closeDeleteTask" class="close-button"
                                    th:onclick="'closeDeleteTask(' + ${task.id} + ')'">
                                <i class="fa fa-close"></i>
                            </button>
                            <h1>Удаление задачи</h1>
                            <h1 th:text="${task.id} + ': ' + ${task.name}"></h1>
                            <div class="delete-task-info">
                                <p>По этой задаче есть <span th:text="${task.solutions.size()}"
                                                             style="font-weight: bold"></span> решений.</p>
                                <p>Вы уверены, что хотите удалить задачу?</p>
                            </div>
                            <form class="uploadForm" id="deleteTaskForm"
                                  th:action="@{/v1/testsys/developer/task/delete}" method="post"
                                  enctype="multipart/form-data">
                                <input type="number" name="taskId" th:value="${task.id}" required
                                       style="display: none"/>
                                <input type="text" name="accessToken" th:value="${accessToken}" style="display: none"/>
                                <input type="submit" id="deleteTask" value="Удалить"/>
                            </form>
                        </div>
                    </div>
                    <div class="buttons">
                        <button class="popup-button" title="Подробная информация"
                                id="taskInfo" th:onclick="'showTaskInfo(' + ${task.id} + ')'">
                            <i class="fa fa-info"></i>
                        </button>
                        <button class="popup-button" title="Редактировать задачу"
                                id="taskEdit" th:onclick="'editTask(' + ${task.id} + ')'">
                            <i class="fa fa-pencil"></i>
                        </button>
                        <button class="popup-button" title="Предоставить доступ к задаче"
                                id="taskAttach" th:onclick="'attachTaskToAdmin(' + ${task.id} + ')'">
                            <i class="fa fa-paperclip"></i>
                        </button>
                        <button class="popup-button" title="Отозвать доступ к задаче"
                                id="taskDetach" th:onclick="'detachTaskFromAdmin(' + ${task.id} + ')'">
                            <i class="fa fa-chain-broken"></i>
                        </button>
                        <button class="popup-button" title="Удалить задачу"
                                id="taskDelete" th:onclick="'deleteTask(' + ${task.id} + ')'">
                            <i class="fa fa-trash"></i>
                        </button>
                    </div>
                </td>
        </table>
        <div class="add-button">
            <button class="popup-button" id="uploadTaskButton">
                <i class="fa fa-plus"></i>
            </button>
        </div>
    </div>

    <div class="table admins-table">
        <table>
            <caption>Список Администраторов</caption>
            <tr>
                <th>ID</th>
                <th>Имя</th>
                <th>Количество групп</th>
                <th>Количество задач</th>
                <th></th>
            </tr>
            <tr th:each="admin: ${admins}" th:id="'admin' + ${admin.id}">
                <td th:text="${admin.id}"></td>
                <td th:text="${admin.webUser.username}"></td>
                <td th:text="${admin.groups.size()}"></td>
                <td th:text="${admin.tasks.size()}"></td>
                <td style="text-align: center; width: 5%"><i class="fa fa-info"></i></td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>

<script>
    function copy(id) {
        var copyText = document.getElementById(id);
        var textArea = document.createElement("textarea");

        textArea.value = copyText.textContent;
        document.body.appendChild(textArea);
        textArea.select();
        document.execCommand("Copy");
        textArea.remove();
    }


    //region Scripts for upload task popup
    uploadTaskButton.addEventListener("click", function () {
        uploadTaskPopup.classList.add("show");
    });

    closeUploadTask.addEventListener("click", function () {
        uploadTaskPopup.classList.remove("show");
    });

    function resetPopupForm(formId) {
        document.getElementById(formId).reset();
    }

    //endregion

    //region Scripts for task info popup
    function showTaskInfo(taskId) {
        var taskInfoPopup = document.getElementById("taskInfoPopup" + taskId);
        taskInfoPopup.classList.add("show");
    }

    function closeTaskInfo(taskId) {
        var taskInfoPopup = document.getElementById("taskInfoPopup" + taskId);
        taskInfoPopup.classList.remove("show");
    }

    //endregion

    //region Scripts for task edit popup
    function editTask(taskId) {
        var taskEditPopup = document.getElementById("taskEditPopup" + taskId);
        taskEditPopup.classList.add("show");
    }

    function closeEditTask(taskId) {
        var taskEditPopup = document.getElementById("taskEditPopup" + taskId);
        taskEditPopup.classList.remove("show");

        var form = taskEditPopup.querySelector("form");
        form.reset();
    }

    //endregion

    //region Scripts for task delete popup
    function deleteTask(taskId) {
        var taskDeletePopup = document.getElementById("taskDeletePopup" + taskId);
        taskDeletePopup.classList.add("show");
    }

    function closeDeleteTask(taskId) {
        var taskDeletePopup = document.getElementById("taskDeletePopup" + taskId);
        taskDeletePopup.classList.remove("show");

        var form = taskDeletePopup.querySelector("form");
        form.reset();
    }

    //endregion

    //region Scripts for attach task to admin popup
    function attachTaskToAdmin(taskId) {
        var attachTaskToAdminPopup = document.getElementById("attachTaskToAdminPopup" + taskId);
        attachTaskToAdminPopup.classList.add("show");
    }

    function closeAttachTaskToAdmin(taskId) {
        var attachTaskToAdminPopup = document.getElementById("attachTaskToAdminPopup" + taskId);
        attachTaskToAdminPopup.classList.remove("show");

        var form = attachTaskToAdminPopup.querySelector("form");
        form.reset();
    }

    //endregion

    //region Scripts for detach task from admin popup
    function detachTaskFromAdmin(taskId) {
        var detachTaskFromAdminPopup = document.getElementById("detachTaskFromAdminPopup" + taskId);
        detachTaskFromAdminPopup.classList.add("show");
    }

    function closeDetachTaskFromAdmin(taskId) {
        var detachTaskFromAdminPopup = document.getElementById("detachTaskFromAdminPopup" + taskId);
        detachTaskFromAdminPopup.classList.remove("show");

        var form = detachTaskFromAdminPopup.querySelector("form");
        form.reset();
    }

    //endregion

    //region Scripts for popups
    function showPopup(popupId) {
        var popup = document.getElementById(popupId);
        popup.classList.add("show");
    }

    function closePopup(popupId) {
        var popup = document.getElementById(popupId);
        popup.classList.remove("show");

        var form = popup.querySelector("form");
        form.reset();
    }

    //endregion

</script>

<style>
</style>