<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" th:charset="utf-8">
<head>
    <meta charset="UTF-8">
    <title>Страница Разработчика</title>
    <link rel="icon" th:href="@{/img/trik_testsys_logo.ico}">
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div class="container">
    <div class="header">
        <div class="page-type">
            <img th:src="@{/img/trik_testsys_logo.svg}" alt="logo">
            <p>Страница разработчика</p>
        </div>
        <div class="exit">
            <form th:action="@{/v1/testsys}" method="get">
                <input type="submit" value="Выйти"/>
            </form>
        </div>
    </div>
    <div class="main">
        <div class="info">
            <div class="greeting">
                <h3>Здравствуйте, <span th:text="${username}"></span>!</h3>
                <p>На этой странице вы можете:</p>
                <ul>
                    <li>Загрузить/изменить/удалить задачу;</li>
                    <li>Просмотреть список всех задач;</li>
                    <li>Открыть доступ к задаче выбранным Администраторам.</li>
                </ul>
            </div>
            <div class="user-data">
                <p>Ваш Код-доступа: <b><span title="Нажмите, чтобы скопировать" th:text="${accessToken}"
                                             id="accessToken" class="accessToken"
                                             onclick="copy('accessToken')">ed30da0f75d595465d6977e2fd551d2026cc3ff66dd5bd958ac2a50807684cb7</span>.</b>
                </p>
            </div>
        </div>
    </div>
    <form class="uploadForm" th:action="@{/v1/testsys/developer/task/create}" method="post"
          enctype="multipart/form-data">
        <input type="text" name="name" placeholder="Название задачи" required/>
        <input type="text" name="description" placeholder="Описание задачи" required/>
        <input type="text" name="accessToken" th:value="${accessToken}" style="display: none"/>
        <input type="file" multiple="multiple" name="tests" accept=".xml" required/>
        <input type="file" name="benchmark" accept=".qrs"/>
        <input type="file" name="training" accept=".qrs"/>
        <input type="submit" id="uploadTask" value="Загрузить"/>
    </form>
    <div id="uploadPopup" class="popup">
        <div class="popup-content">
            <h1><span th:text="${postTaskMessage}"></span></h1>
            <button id="closeUpload">
                Закрыть
            </button>
        </div>
    </div>

    <div class="table tasks-table">
        <table>
            <caption>Список задач</caption>
            <tr>
                <th>ID</th>
                <th>Название</th>
                <th>Описание</th>
                <th></th>
            </tr>
            <tr th:each="task: ${tasks}">
                <td th:text="${task.id}"></td>
                <td th:text="${task.name}"></td>
                <td th:text="${task.description}"></td>
                <td style="text-align: center; width: 5%"><i class="fa fa-info"></i></td>
            </tr>
        </table>
    </div>

    <div class="table admins-table">
        <table>
            <caption>Список Администраторов</caption>
            <tr>
                <th>ID</th>
                <th>Имя</th>
                <th>Количество групп</th>
                <th>Количество задач</th>
                <th></th>
            </tr>
            <tr th:each="admin: ${admins}">
                <td th:text="${admin.id}"></td>
                <td th:text="${admin.webUser.username}"></td>
                <td th:text="${admin.groups.size()}"></td>
                <td th:text="${admin.tasks.size()}"></td>
                <td style="text-align: center; width: 5%"><i class="fa fa-info"></i></td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>

<script>
    function copy(id) {
        var copyText = document.getElementById(id);
        var textArea = document.createElement("textarea");

        textArea.value = copyText.textContent;
        document.body.appendChild(textArea);
        textArea.select();
        document.execCommand("Copy");
        textArea.remove();
    }

    uploadTask.addEventListener("click", function () {
        uploadPopup.classList.add("show");
    });
    closeUpload.addEventListener("click", function () {
        uploadPopup.classList.remove("show");
    });
    window.addEventListener("click", function (event) {
        if (event.target == uploadPopup) {

            uploadPopup.classList.remove("show");
        }
    });
</script>

<style>

</style>