<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" th:charset="utf-8">
<head>
    <meta charset="UTF-8">
    <title>Ошибка</title>
    <link rel="icon" th:href="@{/v1/testsys/img/trik_testsys_logo.ico}">
    <link rel="stylesheet" th:href="@{/v1/testsys/css/style.css}"/>
</head>
<body>
<div class="container">
    <div class="header">
        <div class="page-type">
            <img th:src="@{/v1/testsys/img/trik_testsys_logo.svg}" alt="logo">
            <p>Ошибка</p>
        </div>
        <div class="exit">
            <form th:action="@{/v1/testsys}" method="get">
                <input type="submit" value="Выйти"/>
            </form>
        </div>
    </div>
    <div class="main">
        <h1>Произошла непредвиденная ошибка: <span th:text="${message}"></span></h1>
    </div>
</div>
</body>