<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru" th:charset="utf-8">
<head>
    <meta charset="UTF-8">
    <title>Кабинет приема апелляций</title>

    <link rel="icon" th:href="@{/2023/img/trik_testsys_logo.ico}">

    <link rel="stylesheet" th:href="@{/2023/css/style.css}"/>
    <link rel="stylesheet" th:href="@{/2023/css/popup.css}"/>
    <link rel="stylesheet" th:href="@{/2023/css/table.css}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!--    <link rel="stylesheet" th:href="@{/fontawesome-free-6.4.2-web/css/all.min.css}">-->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script th:src="@{/2023/js/popup.js}"></script>
</head>
<body>
<div class="container">
    <div class="header">
        <div class="page-type">
            <img th:src="@{/2023/img/trik_testsys_logo.svg}" alt="logo">
            <p>Кабинет приема апелляций</p>
        </div>
        <div class="exit">
            <form th:action="@{/2023}" method="get">
                <input type="submit" value="Выйти"/>
            </form>
        </div>
    </div>

    <div class="change-info-popup popup" id="changeInfoPopup">
        <div class="popup-content">
            <button class="close-button" id="closeChangeInfo"
                    th:onclick="'closePopup(\'changeInfoPopup\')'">
                <i class="fa fa-close"></i>
            </button>
            <h1>Редактирование данных</h1>
            <form class="uploadForm" th:action="@{/2023/judge/info/change}" method="post">
                <input type="text" name="accessToken" th:value="${accessToken}" placeholder="Код-доступа" required
                       style="display: none"/>
                <div class="input-name">
                    <h2>Псевдоним</h2>
                </div>
                <input type="text" name="newUsername" th:value="${username}" placeholder="Псевдоним" required/>
                <div class="input-name">
                    <h2>Дополнительная информация</h2>
                </div>
                <input type="text" name="newAdditionalInfo" th:value="${additionalInfo}"
                       placeholder="Дополнительная информация"/>
                <input type="submit" value="Редактировать"/>
            </form>
        </div>
    </div>

    <div class="main">
        <div class="info">
            <div class="avatar-container">
                <img th:src="@{/2023/img/trik_testsys_logo.svg}" alt="avatar">
                <div class="username">
                    <p th:text="${username}"></p>
                </div>
                <button id="changeInfo" class="edit-button"
                        th:onclick="'showPopup(\'changeInfoPopup\')'">
                    Редактировать
                </button>
            </div>
            <div class="additional-info">
                <table class="table info-table" style="width: 100%;">
                    <caption>
                        Информация о пользователе
                    </caption>
                    <tr>
                        <td>Псевдоним</td>
                        <td th:text="${username}"></td>
                    </tr>
                    <tr>
                        <td>Код-доступа</td>
                        <td th:text="${accessToken}"
                            title="Нажмите, чтобы скопировать"
                            id="accessToken" class="accessToken"
                            onclick="copy('accessToken')">
                        </td>
                    </tr>
                    <tr>
                        <td>Дополнительная информация</td>
                        <td th:text="${additionalInfo}"></td>
                    </tr>
                    <tr>
                        <td>Дата и время последнего входа</td>
                        <td>
                            <time th:datetime="${lastLoginDate}"
                                  th:text="${#temporals.format(lastLoginDate, 'dd.MM.yyyy HH:mm')}">
                            </time>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>