<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru" th:charset="utf-8">
<head>
    <meta charset="UTF-8">
    <title>Главная страница TestSys</title>

    <link rel="icon" th:href="@{/img/trik_testsys_logo.ico}">

    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" th:href="@{/css/modal.css}"/>
    <link rel="stylesheet" th:href="@{/css/popup.css}"/>

    <script th:src="@{/js/scripts.js}"></script>
    <script th:src="@{/js/popup.js}"></script>
</head>
<body>

<div th:replace="fragments/main :: background"></div>

<div th:replace="fragments/main :: popup"></div>

<div class="modal-container">
    <div class="modal">
        <div class="modal-header">
            <h1>Тестирующая система TestSys</h1>
        </div>
        <div class="modal-body">
            <a th:href="@{/login}" class="button">Войти</a>
            <a th:href="@{registration}" class="button">Зарегистрироваться</a>
            <a th:if="${hasActiveSession}"
               th:href="@{/redirect}"
               class="button">Вернуться в активную сессию</a>
        </div>
    </div>
</div>

</body>
</html>