<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru" th:charset="utf-8">
<head>
    <meta charset="UTF-8">
    <title>Кабинет Участника</title>

    <link rel="icon" th:href="@{/img/trik_testsys_logo.ico}">

    <link rel="stylesheet" th:href="@{/css/newStyle.css}"/>
    <link rel="stylesheet" th:href="@{/css/popup.css}"/>

    <script th:src="@{/js/scripts.js}"></script>
    <script th:src="@{/js/popup.js}"></script>
</head>
<body>
<div class="background-container"></div>

<div id="popup" class="popup" th:if="${message != null}">
    <div class="popup-content">
        <span class="popup-close" onclick="closePopup()">&times;</span>
        <p th:text="${message}">Это текст сообщения попапа.</p>
    </div>
</div>

<!--/*@thymesVar id="webUser" type="trik.testsys.webclient.view.StudentView"*/-->
<form action="#" th:action="@{/student/update}" th:object="${webUser}" method="post">
    <input th:field="*{id}" type="text" id="student.id" hidden/>
    <input th:field="*{creationDate}" type="text" id="student.creationDate" hidden/>
    <input th:field="*{group}" type="text" id="student.group" hidden/>

    <label for="student.name">Имя:</label>
    <input th:field="*{name}" type="text" id="student.name"/>

    <label for="student.accessToken">Код-доступа:</label>
    <input th:field="*{accessToken}" type="text" id="student.accessToken" readonly/>

    <label for="student.lastLoginDate">Дата входа:</label>
    <input th:field="*{lastLoginDate}" type="text" id="student.lastLoginDate" readonly/>

    <button type="submit">Сохранить</button>
</form>

<a th:href="@{/student/task/download}" target="_self">Скачать файл</a>

<a th:href="@{/student?Logout=''}">Выйти</a>
</body>
</html>