<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru" th:charset="utf-8">
<head>
    <th:block th:include="fragments/main :: head('Кабинет Супер-Пользователя')"></th:block>

    <link rel="stylesheet" th:href="@{/css/block.css}">
    <link rel="stylesheet" th:href="@{/css/table.css}">

    <th:block th:include="fragments/popup :: head"></th:block>
    <th:block th:include="fragments/form :: head"></th:block>
    <th:block th:include="fragments/menu :: head"></th:block>
</head>

<div th:replace="fragments/table :: table-sort"></div>

<body>

<div th:replace="fragments/main :: background"></div>

<div th:replace="fragments/popup :: popup"></div>

<div th:replace="fragments/popup :: emergencyPopup"></div>

<div th:replace="fragments/entity/superuser
    :: superUserHeader(breadCrumbNames=${ { 'Пользователи' } },
                       breadCrumbLinks=${ { '/superuser/users' } })"></div>

<div th:replace="fragments/entity/superuser :: superUserMenu"></div>

<!-- Контент -->
<div class="container">
    <!-- Первый блок -->
    <div class="block">
        <div class="block-title">Наблюдатели</div>

        <div class="form-container">
            <div class="form-header">
                <h1>Создание Наблюдателя</h1>
            </div>

            <!--/*@thymesVar id="webUser" type="trik.testsys.webclient.view.impl.ViewerCreationView"*/-->
            <form id="viewer-creation" action="#" th:action="@{/superuser/users/create}" th:object="${viewer}" method="post">
                <div th:replace="fragments/form.html :: hiddentInput(id='user.type', fieldName='type')"></div>

                <div th:replace="fragments/form.html
                    :: formField(id='viewer.name', type='text',
                                 labelName='Псевдоним', labelSize='20',
                                 fieldName='name', fieldSize='80',
                                 size='100',
                                 isReadonly='false', isRequired='true', isAccessToken='false')">
                </div>
                <div th:replace="fragments/form.html
                    :: formField(id='viewer.additionalInfo', type='text',
                                 labelName='Дополнительная информация', labelSize='20',
                                 fieldName='additionalInfo', fieldSize='80',
                                 size='100',
                                 isReadonly='false', isRequired='false', isAccessToken='false')">
                </div>
                <!-- Кнопки редактирования, отправки и отмены -->
                <div class="form-buttons">
                    <button type="button" class="edit-button" id="viewer-creation-edit" onclick="enableForm('viewer-creation')">Создать Наблюдателя</button>
                    <button type="submit" class="save-button" id="viewer-creation-save">Создать</button>
                    <button type="button" class="cancel-button" id="viewer-creation-cancel" onclick="disableForm('viewer-creation')">Отменить</button>
                </div>
            </form>
        </div>

        <div class="table admins-table">
            <div class="form-header">
                <h1>Список Наблюдателей</h1>
            </div>
            <div class="table-container">
                <table>
                    <thead>
                    <tr>
                        <th style="width: 10%">
                            ID
                        </th>
                        <th style="width: 20%">
                            Псевдоним
                        </th>
                        <th>Дополнительная информация</th>
                        <th style="width: 20%">
                            Код-доступа
                        </th>
                        <th style="width: 20%">
                            Код-регистрации
                        </th>
                    </tr>
                    </thead>
                    <!--/*@thymesVar id="viewer" type="trik.testsys.webclient.entity.user.impl.Viewer"*/-->
                    <tr th:each="viewer : ${webUser.viewers}">
                        <td th:text="${viewer.id}"></td>
                        <td th:text="${viewer.name}"></td>
                        <td th:text="${viewer.additionalInfo}"></td>
                        <td th:text="${viewer.accessToken}" class="accessToken"></td>
                        <td th:text="${viewer.regToken}" class="accessToken"></td>
                    </tr>
                </table>
            </div>
        </div>

        <div id="admins"></div>
    </div>

    <div class="block">
        <div class="block-title">Организаторы</div>

        <div class="form-container">
            <div class="form-header">
                <h1>Создание Организатора</h1>
            </div>

            <!--/*@thymesVar id="webUser" type="trik.testsys.webclient.view.impl.ViewerCreationView"*/-->
            <form id="admin-creation" action="#" th:action="@{/superuser/users/create}" th:object="${admin}" method="post">
                <div th:replace="fragments/form.html :: hiddentInput(id='user.type', fieldName='type')"></div>

                <div th:replace="fragments/form.html
                    :: formField(id='admin.name', type='text',
                                 labelName='Псевдоним', labelSize='20',
                                 fieldName='name', fieldSize='80',
                                 size='100',
                                 isReadonly='false', isRequired='true', isAccessToken='false')">
                </div>
                <div th:replace="fragments/form.html
                    :: formField(id='admin.additionalInfo', type='text',
                                 labelName='Дополнительная информация', labelSize='20',
                                 fieldName='additionalInfo', fieldSize='80',
                                 size='100',
                                 isReadonly='false', isRequired='false', isAccessToken='false')">
                </div>

                <label for="viewerId">Выберите Наблюдателя</label>
                <select id="viewerId" name="viewerId" required>
                    <option value="" disabled selected>Выберите Наблюдателя</option>
                    <option th:each="viewer : ${webUser.viewers}" th:value="${viewer.id}" th:text="${viewer.id + ': ' + viewer.name}">
                </select>
                <!-- Кнопки редактирования, отправки и отмены -->
                <div class="form-buttons">
                    <button type="button" class="edit-button" id="admin-creation-edit" onclick="enableForm('admin-creation')">Создать Организатора</button>
                    <button type="submit" class="save-button" id="admin-creation-save">Создать</button>
                    <button type="button" class="cancel-button" id="admin-creation-cancel" onclick="disableForm('admin-creation')">Отменить</button>
                </div>
            </form>
        </div>

        <div class="table admins-table">
            <div class="form-header">
                <h1>Список Организаторов</h1>
            </div>
            <div class="table-container">
                <table>
                    <thead>
                    <tr>
                        <th style="width: 10%">
                            ID
                        </th>
                        <th style="width: 20%">
                            Псевдоним
                        </th>
                        <th style="width: 20%">
                            Наблюдатель
                        </th>
                        <th>Дополнительная информация</th>
                        <th style="width: 20%">
                            Код-доступа
                        </th>
                    </tr>
                    </thead>
                    <!--/*@thymesVar id="admin" type="trik.testsys.webclient.entity.user.impl.Viewer"*/-->
                    <tr th:each="admin : ${webUser.admins}">
                        <td th:text="${admin.id}"></td>
                        <td th:text="${admin.name}"></td>
                        <td th:text="${admin.viewer.id + ': ' + admin.viewer.name}"></td>
                        <td th:text="${admin.additionalInfo}"></td>
                        <td th:text="${admin.accessToken}" class="accessToken"></td>
                    </tr>
                </table>
            </div>
        </div>

        <div id="developers"></div>
    </div>

    <div class="block">
        <div class="block-title">Разработчики</div>

        <div class="form-container">
            <div class="form-header">
                <h1>Создание Разработчика</h1>
            </div>

            <!--/*@thymesVar id="webUser" type="trik.testsys.webclient.view.impl.DeveloperCreationView"*/-->
            <form id="developer-creation" action="#" th:action="@{/superuser/users/create}" th:object="${developer}" method="post">
                <div th:replace="fragments/form.html :: hiddentInput(id='user.type', fieldName='type')"></div>

                <div th:replace="fragments/form.html
                    :: formField(id='developer.name', type='text',
                                 labelName='Псевдоним', labelSize='20',
                                 fieldName='name', fieldSize='80',
                                 size='100',
                                 isReadonly='false', isRequired='true', isAccessToken='false')">
                </div>
                <div th:replace="fragments/form.html
                    :: formField(id='developer.additionalInfo', type='text',
                                 labelName='Дополнительная информация', labelSize='20',
                                 fieldName='additionalInfo', fieldSize='80',
                                 size='100',
                                 isReadonly='false', isRequired='false', isAccessToken='false')">
                </div>
                <!-- Кнопки редактирования, отправки и отмены -->
                <div class="form-buttons">
                    <button type="button" class="edit-button" id="developer-creation-edit" onclick="enableForm('developer-creation')">Создать Разработчика</button>
                    <button type="submit" class="save-button" id="developer-creation-save">Создать</button>
                    <button type="button" class="cancel-button" id="developer-creation-cancel" onclick="disableForm('developer-creation')">Отменить</button>
                </div>
            </form>
        </div>

        <div class="table admins-table">
            <div class="form-header">
                <h1>Список Разработчиков</h1>
            </div>
            <div class="table-container">
                <table>
                    <thead>
                    <tr>
                        <th style="width: 10%">
                            ID
                        </th>
                        <th style="width: 20%">
                            Псевдоним
                        </th>
                        <th>Дополнительная информация</th>
                        <th style="width: 20%">
                            Код-доступа
                        </th>
                    </tr>
                    </thead>
                    <!--/*@thymesVar id="developer" type="trik.testsys.webclient.entity.user.impl.Developer"*/-->
                    <tr th:each="developer : ${webUser.developers}">
                        <td th:text="${developer.id}"></td>
                        <td th:text="${developer.name}"></td>
                        <td th:text="${developer.additionalInfo}"></td>
                        <td th:text="${developer.accessToken}" class="accessToken"></td>
                    </tr>
                </table>
            </div>
        </div>

        <div id="judges"></div>
    </div>

    <div class="block">
        <div class="block-title">Судьи</div>

        <div class="form-container">
            <div class="form-header">
                <h1>Создание Судьи</h1>
            </div>

            <!--/*@thymesVar id="webUser" type="trik.testsys.webclient.view.impl.judgeCreationView"*/-->
            <form id="judge-creation" action="#" th:action="@{/superuser/users/create}" th:object="${judge}" method="post">
                <div th:replace="fragments/form.html :: hiddentInput(id='user.type', fieldName='type')"></div>

                <div th:replace="fragments/form.html
                    :: formField(id='judge.name', type='text',
                                 labelName='Псевдоним', labelSize='20',
                                 fieldName='name', fieldSize='80',
                                 size='100',
                                 isReadonly='false', isRequired='true', isAccessToken='false')">
                </div>
                <div th:replace="fragments/form.html
                    :: formField(id='judge.additionalInfo', type='text',
                                 labelName='Дополнительная информация', labelSize='20',
                                 fieldName='additionalInfo', fieldSize='80',
                                 size='100',
                                 isReadonly='false', isRequired='false', isAccessToken='false')">
                </div>
                <!-- Кнопки редактирования, отправки и отмены -->
                <div class="form-buttons">
                    <button type="button" class="edit-button" id="judge-creation-edit" onclick="enableForm('judge-creation')">Создать Судью</button>
                    <button type="submit" class="save-button" id="judge-creation-save">Создать</button>
                    <button type="button" class="cancel-button" id="judge-creation-cancel" onclick="disableForm('judge-creation')">Отменить</button>
                </div>
            </form>
        </div>

        <div class="table admins-table">
            <div class="form-header">
                <h1>Список Судей</h1>
            </div>
            <div class="table-container">
                <table>
                    <thead>
                    <tr>
                        <th style="width: 10%">
                            ID
                        </th>
                        <th style="width: 20%">
                            Псевдоним
                        </th>
                        <th>Дополнительная информация</th>
                        <th style="width: 20%">
                            Код-доступа
                        </th>
                    </tr>
                    </thead>
                    <!--/*@thymesVar id="judge" type="trik.testsys.webclient.entity.user.impl.judge"*/-->
                    <tr th:each="judge : ${webUser.judges}">
                        <td th:text="${judge.id}"></td>
                        <td th:text="${judge.name}"></td>
                        <td th:text="${judge.additionalInfo}"></td>
                        <td th:text="${judge.accessToken}" class="accessToken"></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

</div>

</body>
</html>